{
  "presets": [
    "@babel/present-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/present-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
